@import "tailwindcss";

:root {
  --bg: #0a0a0a;
  --bg2: #111111;
  --bg3: #1a1a1a;
  --bg4: #222222;
  --border: #2a2a2a;
  --accent: #e8ff00;
  --accent2: #ff4d00;
  --text: #f0f0f0;
  --text2: #888;
  --text3: #555;
  --card: #141414;
  --radius: 4px;

  --background: var(--bg);
  --foreground: var(--text);
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
  --color-bg4: var(--bg4);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent2: var(--accent2);
  --color-text: var(--text);
  --color-text2: var(--text2);
  --color-text3: var(--text3);
  --color-card: var(--card);
  --radius-custom: var(--radius);
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

